* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
}

:root {
    font-size: 62.5%;
    --primary-color: #61322E;
    --secondary-color: #11343b;
    --text-emphasis: #D16014;
    --text-color: #cec3c1;
    
    --font-emphasis: 'Roboto', sans-serif;
    --font-text: 'Inter', sans-serif;
}

body {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

.header {
    width: 100%;
    height: 10rem;
    background-color: var(--primary-color);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
   height: 80%;
   width: 11rem;
}

.header__btnMenu {
    border: none;
    background-color: transparent;
}

.header__btnMenu i {
    color: var(--text-color);
    font-size: 2.4rem;
}

.header__menu-desktop {
    display: none;
}

.header__menu-mobile a {
    display: block;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 2rem;
    cursor: pointer;
    text-decoration: none;
    font-family: var(--font-emphasis);
    font-weight: 700;
}

.header__menu-mobile:hover {
    background-color: #4a2623
}

.sec__main {
    background-color: var(--secondary-color);
    padding: 2rem 4rem;
    
}

.sec__main__logo {
    width: 8rem;
}

.sec__main__text {
    color: var(--text-color);
    font-size: 1.7rem;
    line-height: 1.6;
}

.sec__main__text span {
    color: var(--text-emphasis);
}