* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --primary-color: #61322E;
    --text-color: #cec3c1;
}

body {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

.header {
    width: 100%;
    height: 10rem;
    background-color: var(--primary-color);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
   height: 80%;
   width: 11rem;
}

.header__btnMenu {
    border: none;
    background-color: transparent;
}

.header__btnMenu i {
    color: var(--text-color);
    font-size: 2.4rem;
}

.header__menu-desktop {
    display: none;
}

.header__menu-mobile a {
    display: block;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 2rem;
    cursor: pointer;
    text-decoration: none;
}