* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
}

:root {
    font-size: 62.5%;
    --primary-color: #452320;
    --secondary-color: #11343b;
    --background-black: #000;
    --text-emphasis: #D16014;
    --text-color: #cec3c1;
    --card--color: #274a51;
    --bord-card-color: #41575c;
    
    --font-emphasis: 'Roboto', sans-serif;
    --font-text: 'Inter', sans-serif;
}

body {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

.header {
    width: 100%;
    height: 10rem;
    background-color: var(--primary-color);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
   height: 80%;
   width: 11rem;
}

.header__btnMenu {
    border: none;
    background-color: transparent;
}

.header__btnMenu i {
    color: var(--text-color);
    cursor: pointer;
    font-size: 2.4rem;
}

.header__menu-desktop {
    display: none;
}

.header__menu-mobile {
    display: none;
}

.menu-active {
    display: block;
}

.header__menu-mobile a {
    display: block;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 2rem;
    cursor: pointer;
    text-decoration: none;
    font-family: var(--font-emphasis);
    font-weight: 700;
}

.header__menu-mobile:hover {
    background-color: #4a2623
}

.sec__main {
    background-color: var(--secondary-color);
    padding: 4rem 4rem;
}

.sec__main__logo {
    display: none;
    width: 8rem;
}

.sec__main__text {
    color: var(--text-color);
    font-size: 1.7rem;
    line-height: 1.6;
}

.sec__main__text .sec__main__text-enphasis {
    color: var(--text-emphasis);
}

.sec__main__model {
    display: none;
}

.divider {
    height: .3rem;
    background: linear-gradient(88deg, rgb(48 24 21) 10%, rgba(17,52,59,1) 55%);
}

.divider img {
    display: block;
    margin: auto;
    transform: translateY(-1rem);
    width: 2.3rem;

}

.journey {
   padding: 4rem 4rem; 
   background-color: var(--secondary-color);
   color: var(--text-color)
}

.journey__img {
    display: block;
    margin: auto;
    width: 100px;
    margin-bottom: 1.5rem;
}

.journey__title {
    color: var(--text-emphasis);
    margin-bottom: 1rem;
}

.journey__text {
    font-size: 1.7rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.journey__text:nth-child(3){
    margin-bottom: 1rem;
}

.work {
    background-color: var(--background-black);
    padding: 2rem 4rem;
}

.work__title {
    color: var(--text-emphasis);
    margin-bottom: 1.5rem;
}

.work__card {
    width: 19rem;
    height: 15rem;
    background-color: var(--card--color);
    padding: 2rem;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.work__card p:first-child {
    background-color: var(--text-emphasis);
    text-align: center;
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    color: var(--text-color);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work__card p {
    color: var(--text-color);
}

.why {
    background-color: var(--secondary-color);
    padding: 2rem 4rem;
}

.why__title {
    color: var(--text-emphasis);
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.why__card {
    width: 100%;
    padding: 2rem;
    background-color: var(--card--color);
    margin-bottom: 2rem;
    border-radius: 10px;
    border: 1px solid var(--bord-card-color);
}

.why__card h2{
    font-size: 2rem;
    color: var(--text-emphasis);
    margin-bottom: 1rem;
}

.why__card p {
    color: var(--text-color);
    line-height: 1.5;
}

.footer {
    background-color: var(--background-black);
    padding: 2rem 4rem;
    color: var(--text-color);
    text-align: center;
}

.footer p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.footer p:first-child {
    color: var(--text-emphasis);
}

.footer p:last-child a{
    color: var(--text-emphasis)
}

@media screen and (min-width: 500px) {
    
    .sec__main__text {
        margin: auto;
        max-width: 47rem;
    }

    .journey div {
        margin: auto;
        max-width: 47rem;

    }

}

@media screen and (min-width: 768px) {

    .header {
        padding: 0 4rem;
    }

    .header__btnMenu {
        display: none;
    }

    .header__menu-desktop {
        display: block;
    }

    .header__menu-desktop ul{
        display: flex;
        gap: 2rem;
        list-style-type: none;
    }

    .header__menu-desktop a {
        color: var(--text-color);
        text-decoration: none;
        cursor: pointer;
    }

    .sec__main__logo {
        display: block;
        margin: auto;
        margin-bottom: 2rem;
    }

    .journey__img {
        display: block;
        margin: auto;
        margin-bottom: 2rem;
    }

    .work__aux {
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 1000px) {

    .sec__main {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        padding: 5rem 12rem 0rem;
    }

    .sec__main__logo {
        display: inline;
    }

    .sec__main__text {
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }

    .sec__main__text-title {
        font-size: 4rem;
        display: block;
        line-height: 1.2;
        margin-bottom: 2rem;
    }

    .sec__main__model {
        display: block;
        width: 30rem;
    }

    .journey {
        padding: 5rem 12rem;
        display: flex;
        align-items: center;
        gap: 5rem;
    }

    .journey__img {
        width: 25rem;
    }

    .journey div {
        width: 60rem;
    }

    .journey__title {
        font-size: 3rem;
    }

    .journey__text {
        font-size: 2rem;
    }

    .work {
        padding: 5rem 12rem;
    }

    .work__title {
        font-size: 3rem;
    }

    .work__card {
        width: 20rem;
        height: 16rem;
    }

    .work__card p {
        font-size: 2rem;
    }

    .why {
        padding: 5rem 12rem;
    }

    .why__title {
        font-size: 3rem;
    }
    
    .why__card {
        max-width: 90rem;
        margin: auto;
        margin-bottom: 3rem;
    }

    .why__card h2 {
        font-size: 2.6rem;
    }

    .why__card p {
        font-size: 2rem;
    }

}